extends layout

block content
  h1 게시글 상세보기

  // 첫 번째 줄: 태그, 제목, 조회수, 공감수
  p 
    span 태그: #{post.tag} |
    span 제목: #{post.title} |
    span 조회수: #{post.views} |
    span 공감수: 
      span#likes-count #{post.likes}
      if user
        button#like-button(data-post-id=post.id, data-board-id=boardId)
          if isLiked
            | 공감 취소
          else
            | 공감
      else
        | (로그인 후 공감 가능)

  // 두 번째 줄: 작성자와 작성일
  p 
  span 작성자: #{post.author.split(' (')[0]}(#{post.author_id}) |
  span 작성일: #{post.createdAt}
  if post.updatedAt && post.updatedAt !== post.createdAt
    span  | 수정일: #{post.updatedAt}

  // 세 번째 줄: 내용
  div.content
    p!= post.content

  // 이전/다음 버튼
  div.navigation
    if prevPostId
      a(href=`/plantowner/community/${boardId}/${prevPostId}`) 이전 글
    else
      span 이전 글이 없습니다

    if nextPostId
      a(href=`/plantowner/community/${boardId}/${nextPostId}`) 다음 글
    else
      span 다음 글이 없습니다

  // 상세보기 부가 버튼들
  if user && user.ID === post.author_id
    .button-container
      a.button(href=`/plantowner/community/edit/${boardId}/${post.id}`) 수정
    button.button.delete-btn(data-board-id=boardId, data-post-id=post.id) 삭제

  br
  // 게시판으로 돌아가기 버튼
  a.button(href=`/plantowner/community/${boardId}`) 게시판으로 돌아가기


  // 댓글 섹션
  include comment
  
block scripts
  script(src='/js/comment.js')
  script(src='/js/delete-post.js')
  script(src='/js/like-post.js')